body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1.4em;
    line-height: 1.4;
    color: #000000;
    text-align: left;
    margin: 20px 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* ссылки */
a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #2980b9;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
    border-radius: 50%;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #2980b9;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #3498db;
    color: #ecf0f1;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about img {
    display: block;
    margin: 0 auto;
}

section#ascii-art {
    font-family: 'Courier New', monospace;
    text-align: center;
    background-color: #ecf0f1;
}

section#code-snippet pre {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
}

aside {
    background-color: #2ecc71;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}


footer a:hover {
    text-decoration: underline;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
